
*{
	padding: 0;
	
	margin: 0;
	box-sizing: border-box;
}
html body{
background-image: url("images/fondo.jpg");
background-size: cover;
}
header{
	background: linear-gradient(rgba(225, 248, 220, 0.15), 
	rgba(225, 248, 220, 0.35)), url("images/fondito.png");
	background-size: cover;
	height: 150px;
	max-width:1000px;
}


#contenedor{
	position: absolute;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

ul, ol{
	list-style: none;
}
.nav li a{
width: 100%;
background: rgb(255,255,224);
border-radius: 10px;  
border: 1px solid black;
overflow: hidden;
font-family: Merienda, cursive;
color: black;
 animation: text 5s linear infinite;
padding: 10px 15px;
 display: block;
}
.nav li a:hover{
font-family: sans-serif;
background-color:#2F4F4F;
color: white;
}
.nav > li{
	float: left;
}
.nav li ul{
	display: none;
	position: absolute;
	min-width: 140px;
}
.nav li:hover > ul{
	display: block;
}
.nav li ul li{
	position: relative;
}
.nav li ul li ul{
	right: -140px;
	top: 0px;
}
/* para que no agarre la imagen y la redondeeeeeeeee

	background-color:#145a32;
	color: black;
	text-decoration: none;
	font-family: arial, helvetica, sans-serif;
	padding: 10px 15px;
	display: block;
*/

#titulo-principal{
	font-family:  sans-serif;
	font-size: 1.3em;
	text-align: center;width: 100%;
}
img {
	
	max-width: 300px;margin-right:5px;
}

.contenido{
	display: flex;
	width: 100%;
	background-color: #ffc;
	max-width: 1000px;
}

.articulos{
display: flex;
flex-flow: row wrap;
width: 100%;
max-width: 1000px;
background-color:#E0FFFF;
justify-content: center;
border-radius: 10px;
overflow: hidden;
font-family: Merienda, cursive;
}

footer{
	width: 100%;
	background-color:#f7dc6f;
	color: black;
	border :1px solid #000;
	margin-top: 0px;
	max-width:1000px;
}
footer p{
	text-align: center;   
	font-family: Merienda, cursive;
}

.img-izq{
	float:left;border: 1px solid #000;border-radius: 10px;
	max-width: 300px;
}
 .texto{display: inline-block;
  vertical-align: top;
 }
/*BARNER PUBLICITARIO LEEEEEEO POR FAVOR
   .dj-banner{
   	margin: 30px 0; 
   	position: relative;}
   .dj-banner .dj-bg{
   	background-image: url(img/logo-pan.png); 
   	background-repeat: no-repeat; 
   	background-position: center; 
   	background-size: cover; 
   	width: 80%;}
   .dj-banner .dj-bg img{
   	display: block; 
   	margin: 20px auto; 
   	padding: 20px 0;}
   .dj-banner .dj-text{
   	text-align: center; 
   	padding-bottom: 20px;}
   @media screen and (min-width:568px){
      .dj-banner .dj-bg img{
      	margin-right: 100px;}
      .dj-banner .dj-text{
      	position: absolute; 
      	top: 50%; 
      	left: 10%;
      	 transform: translate(-10%, -50%); 
      	width: 50%; 
      	text-align: 
      	left;}
      .dj-banner .dj-text h1{font-size: calc(2*1.5vw);}
      .dj-banner .dj-text p{font-size: calc(1.2*1.5vw);}
   }*/


#fecha {
 font-family: Merienda, cursive;
width: 100%;
	background-color:#f7dc6f;
	color: black;
	border :1px solid #000;
	margin-top: 0px;
	max-width:1000px
}


.slider-frame {
width: 450px;
height: 300px;
margin:5px auto 0;
overflow: hidden;
position: relative;
}

.slider-frame ul {
display: flex;
padding: 5px;
width: 400%;
animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
width: 100%;
list-style: none;
}

.slider-frame img {
width: 100%;
}

@keyframes slide {
	20% {margin-left: 0;}
	20% {margin-left: 0;}
	
	45% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	50% {margin-left: -200%;}
	
	100% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/*NUEVO MENU  IZQUIERDO  EEEEEEO POR FAVORp¨

background: rgb(50,38,247);
*/

.img{
	position: relative;

	border-radius: 0px;
	max-width: 180px;
   
}

.titulo-bonito2{
width: 100%;
border: 1px solid green;
background: rgb(255,255,224);
border-radius: 10px;  
font-family: Merienda, cursive;
}

* {
  /*Para que los bordes y paddings no sumen al width*/
  box-sizing: border-box;
}
select {
  /*Le damos un ancho máximo del menor de los valores 100% y 240px*/
  width: min(100%,240px);
  /*Padding y line height para lograr la altura deseada, en este caso 48px*/
  padding: 12px;
  line-height: 24px;
  /*Un poco de estilo para el borde*/
  border: solid 1px #999;
  border-radius: 12px;
}

.circular--square {
  border-radius: 50%;
}

.select-css {
 display: block;
 font-size: 16px;
 font-family: 'Arial', sans-serif;
 font-weight: 400;
 color: #444;
 line-height: 1.3;
 padding: .4em 1.4em .3em .8em;
 width: 400px;
 max-width: 100%; 
 box-sizing: border-box;
 margin: 0;
 border: 1px solid #aaa;
 box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
 border-radius: .3em;
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 background-color: #fff;
 background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
   linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
 background-repeat: no-repeat, repeat;
 background-position: right .7em top 50%, 0 0;
 background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
 display: none;
}
.select-css:hover {
 border-color: #888;
}
.select-css:focus {
 border-color: #aaa;
 box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
 box-shadow: 0 0 0 3px -moz-mac-focusring;
 color: #222; 
 outline: none;
}
.select-css option {
 font-weight:normal;
}	


	
