



/* LLLAMADO DESDE */


.mfp-ajax-holder .mfp-content .container {
  padding-top: 35px;
}
.mfp-ajax-holder .mfp-content .mfp-close {
  position: absolute;
  float: right;
  top: -40px;
}

  /*COMIENZO LLAMADO DESDE */
  .yamm .container {
    position: relative;
  }
  .yamm .dropdown-menu {
    left: auto;
    right: auto;
  }
  .yamm .navbar-right .dropdown-menu.yamm-dropdown {
    left: auto;
    right: 0;
  }
  .yamm .dropdown-menu.yamm-dropdown {
    min-width: 60%;
  }
  .yamm .dropdown.yamm-fw .dropdown-menu,
  .yamm .dropdown.yamm-sm .dropdown-menu {
    left: 0;
    right: 0;
  }
}
.navbar-block {
  display: table;
  margin-right: 0;
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  transition: height 0.3s ease;
}
.navbar-block .navbar-block-inner {
  display: table-cell;
  vertical-align: middle;
}






/*LLAMADO AL STYLE DESDE EL CONTAINER*/

.navbar--fixedTop .ct-mainHeader .ct-topBar {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.navbar--fixedTop .ct-mainHeader nav.navbar {
  position: fixed;
}
.navbar--fixedTop main {
  margin-top: 170px;
}
.navbar--fixedTop.navbar-onepage .ct-mainHeader {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.navbar--fixedTop.navbar-onepage .ct-mainHeader .ct-topBar,
.navbar--fixedTop.navbar-onepage .ct-mainHeader nav.navbar {
  position: relative;
}
@media (max-width: 767px) {
  .navbar--fixedTop .ct-mainHeader {
    position: relative;
  }
  .navbar--fixedTop main {
    margin-top: 0;
  }
  .navbar-onepage nav.navbar.navbar-default {
    display: none;
  }
}














/*LLAMADO DESDE EL HEAD LINE LEFT*/

.line {
  max-width: 100%;
}

