:root {
    --color_primario: #ffc;
    --color_primario_suave: #ffc;
    --color_blanco: #000;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-image: linear-gradient(#efeff5, #fff);
max-width: 900px;
margin: 0 auto;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style: none;
}
.header {
background: linear-gradient(rgba(225, 248, 220, 0.15), 
rgba(225, 248, 220, 0.35)), url("images/fondito.png");
background-size: cover;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
justify-content: center;
border-radius: 10px;
height: 150px;
max-width:1000px;
}
.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right);
}
.menu_hamburguesa{
    display: none;
}
.menu_hamburguesa:checked + .ul_links {
    height: calc(100vh - var(--altura_header));
}
.logo {
    color: var(--color_blanco);font-family: Merienda, cursive;

}
.labe_hamburguesa {
}
.list_icon {
    color: var(--color_blanco);
    cursor: pointer;
}
.ul_links {
    width: 100%;
    background-color: var(--color_primario_suave);
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    /* height: calc(100vh - var(--altura_header)); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    transition: all .3s;
}
.li_links {
}
.link {
color: var(--color_blanco);
font-weight: bold;
font-size: 2em;
}

@media (min-width:768px){
.labe_hamburguesa {
display: none;
}
.ul_links{
position: static;
width: auto;
height: auto;
flex-direction: row;
gap: 2rem;
}


.link{
font-size: 1.2rem;
transition: all .5s;
padding: .2rem .7rem;
}
.link:hover{
background-color:black;
color:#FFF8DC;
font-size: 2em;
        
}
}

#titulo-principal{
  font-family:  sans-serif;
  font-size: 1.3em;
  text-align: center;width: 100%;
}
img {
  
  max-width: 300px;margin-right:5px;
}

.contenido{
  display: flex;
  width: 100%;
  background-color: #ffc;
  max-width: 1000px;
}

.articulos{
display: flex;
flex-flow: row wrap;
width: 100%;
max-width: 1000px;
background-color:#E0FFFF;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
justify-content: center;
border-radius: 10px;
overflow: hidden;

}

.titulo-bonito2{
width: 100%;
border: 1px solid green;
background: rgb(255,255,224);


}

.yoswal{
  border-radius: 50%;
}


/* Footer */
#mainfooter {
  text-align: center;
  padding: 30px;
  color: black;
  margin-top: 0px;
  width: 100%;
}
.container {
  margin: 0 auto;
  padding: 0 30px;
}


.slider-frame {
width: 450px;
height: 300px;
margin:5px auto 0;
overflow: hidden;
position: relative;
}

.slider-frame ul {
display: flex;
padding: 5px;
width: 400%;
animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
width: 100%;
list-style: none;
}

.slider-frame img {
width: 100%;
}

@keyframes slide {
  20% {margin-left: 0;}
  20% {margin-left: 0;}
  
  45% {margin-left: -100%;}
  45% {margin-left: -100%;}
  
  50% {margin-left: -200%;}
  50% {margin-left: -200%;}
  
  100% {margin-left: -300%;}
  100% {margin-left: -300%;}
}


#myCarousel{
	width: 500px;
	position: relative;
}
.marquee {
      width: 100%;
}  
.marquee img {
      width: 170px;
 }
.title {
 font-size: 18pt;
 position: absolute;
 bottom: 70px;
 left: 30px
}
.cont {
 position: relative;
 display: inline-block;
}





