*{
	margin: 0;
	box-sizing: border-box;
}

html body{
	background-color: white;
	font-family: "Inter", sans-serif;
	padding: 80px 0;
}
.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.hero{

}
.hero_title{
	font-size: 2.5rem;
}
.hero_img{
	width: 100%;
	border-radius: 10px;
}
.container-article{
	margin-top: 100px;

	padding: 3px;
	gap:1rem;
	display: flex;
	flex-wrap: wrap;
}
.article{

 background-color: antiquewhite;

 padding: 2rem 1.5rem;
 border-radius: 10px;
 box-shadow: 0 0 6px #0000007d;

 display: grid;
 justify-content: center;
 gap:1rem;
 flex: 1;


}
.article_img{

}
.article_name{

}
.article_paragraph{
	
}

@media(width: > 500px){
	body{
		background-color: red;
	}
}
